/* breakpoints for landing image, hella long to scroll tbh -- */


.Main {
  display: flex;
  width: 100vw;
  height: 90vh;
  text-align: center;
  /* z-index: 2; */
  font-family: 'Ubuntu', sans-serif;
}

.MainPhoto {
  display: flex;
  background-size: cover;
  width: 100vw;
  height: 90vh;

  /* text-align: center; */

}

.Nav {
  display: flex;
  background-color: #6B5D25;
  /* opacity: 0.5; */
  width: 100%;
  height: 10%;
  position: sticky;
  top: 0;
  /* color: burlywood; */
  font-size: 35px;
  text-align: center justify;
  justify-content: center;
  z-index: 10;

  font-family: 'Ubuntu', sans-serif;
}

h2 {
  display: flex;
  font-size: 30px;
  margin: auto;
  padding: 20px;

  font-family: 'Ubuntu', sans-serif;
}

h3 {
  display: flex;
  font-size: 25px;
  margin: auto;
  padding: 20px;

  font-family: 'Ubuntu', sans-serif;
}

.MainText {
  display: flex;
  color: pink;

  /* text-align: center justify; */
  text-shadow: 3px 2px 2px black;
  z-index: 2;

  border-top: double pink;
  border-bottom: double pink;
  height: 30vh;
  width: 43vw;

  position: absolute;
  top: 40%;
  left: 40%;
  margin-top: -70px;
  margin-left: -110px;

  justify-content: center;
  align-items: center;

  font-family: 'Ubuntu', sans-serif;

  flex-direction: column;

    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */


}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.element {
  display: flex;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  position: absolute;
  margin-left: 50%;
  margin-top: auto;

  animation:
    pulse 5s ease infinite alternate,
    nudge 3s linear infinite;


  -moz-animation:
    pulse 5s ease infinite alternate,
    nudge 3s linear infinite; /* Firefox */
  -webkit-animation:
    pulse 5s ease infinite alternate,
    nudge 3s linear infinite; /* Safari and Chrome */
  -o-animation:
    pulse 5s ease infinite alternate,
    nudge 3s linear infinite; /* Opera */
  z-index: 9;
  background-color: white;
}

@keyframes pulse {
  0%, 100% {
    background-color: pink;
  }
  50% {
    background-color: #c4cf7c;
  }
}
@-moz-keyframes pulse { /* Firefox */
  0%, 100% {
    background-color: pink;
  }
  50% {
    background-color: #c4cf7c;
  }
}
@-webkit-keyframes pulse { /* Safari and Chrome */
  0%, 100% {
    background-color: pink;
  }
  50% {
    background-color: #c4cf7c;
  }
}
@-o-keyframes pulse { /* Opera */
  0%, 100% {
    background-color: pink;
  }
  50% {
    background-color: #c4cf7c;
  }
}

@keyframes nudge {
  0%, 100% {
    transform: translateY(-100px);
  }

  80% {
    transform: translateY(-275px);
  }
}

@-moz-keyframes nudge { /* Firefox */
  0%, 100% {
    transform: translateY(-100px);
  }

  80% {
    transform: translateY(-275px);
  }
}
@-webkit-keyframes nudge { /* Safari and Chrome */
  0%, 100% {
    transform: translateY(-100px);
  }

  80% {
    transform: translateY(-275px);
  }
}
@-o-keyframes nudge { /* Opera */
  0%, 100% {
    transform: translateY(-100px);
  }

  80% {
    transform: translateY(-275px);
  }
}


.Projects {
  display: flex;
  height: 240%;
  width: 100%;
  /* opacity: 0.5; but why*/
  justify-content: center;
  background-color: #3c4215;
  align-items: center;
}

.Projects-text {
  display: flex;
  height: 220%;
  width: 90%;
  padding: 30px;
  margin: 10px;
  align-self: center;
  justify-content: center;
  color: black;
  background-color: #c4cf7c;
  flex-direction: column;

  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);

  font-family: 'Ubuntu', sans-serif;
}

.waveson {
  display: flex;
  padding: 5px;
  margin: 2px;
  align-items: stretch;
  justify-content: flex-start;
}

.explore {
  display: flex;
  padding: 5px;
  margin: 2px;
  justify-content: flex-start;
  align-items: stretch;
}

.skinn {
  display: flex;
  padding: 5px;
  margin: 2px;
  justify-content: flex-start;
  align-items: stretch;
}

.cardGame {
  display: flex;
  padding: 5px;
  margin: 2px;
  justify-content: flex-start;
  /* justify-content: center; */
  align-items: stretch;
}

.AboutBanner {
  display: flex;
  background-color: #3c4215;
  width: 100%;
  height: 20%;
  color: pink;

}

.About {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #3c4215;
  justify-content: space-around;
  flex-direction: row;

  -webkit-flex-flow: row wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

}

.About-cont{
  display: flex;
  height: 40%;
  width: 70%;
  padding: 35px;
  margin: 30px;
  background-color: #c4cf7c;

  color: black;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  line-height: 1.6;

  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.About-images {
  display: flex;
  background-size: cover;
  max-height: 40vh;
  max-width: 50vw;
  margin: 50px;

  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);

  background-size: cover;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
}

.Skills {
  display: flex;
  background-color: #3c4215;
  color: black;
  font-size: 18px;
  height: 20%;
  width: 100%;
  align-items: center;

  font-family: 'Ubuntu', sans-serif;
}
/* animation: color-me-in 8s;
@keyframes color-me-in {
  0%, 100% {
    background: orange;
  }

  50% {
    background: pink;
  }

} */

.Resume {
  display: flex;
  background-color: #c4cf7c;
  align-self: center;
  justify-content: center;

}

.Footer {
  display: flex;
  height: 10vh;
  width: 100%;
  /* background-color: #ebe3c5; */
  justify-content: center;
  background-image: url("https://www.flickr.com/photos/134069298@N06/32154540395/in/datetaken-public/");
  background-size: cover;



  animation: color-me-in 8s infinite;
}
@keyframes color-me-in {
  0%, 100% {
    background: #c4cf7c;
  }

  50% {
    background: pink;
  }

}

button {
  cursor: pointer;

  border: 0;
  border-radius: 0.25rem;

  background-image: -webkit-linear-gradient(top, #eddac7, #404040);
  color: black;
  padding: 5px;
  margin: 10px;
  font-family: 'Ubuntu', sans-serif;
}

.project-buttons {
  border: 0;
  color: black;
  padding: 5px;
  margin: 5px;
  background: #f0ebe6;
}

p {
  display: flex;
  height: 10%;
  width: 80%;
  max-width: 80%;
  background-color: #c4cf7c;
  padding: 15px;
  margin: 30px;
  align-self: center;

  font-family: 'Ubuntu', sans-serif;
}
/* .App-logo {
  height: 40vmin;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
