.Main {
  display: flex;
  text-align: center;
  /* background-color: burlywood; */
  background-image: url("/IMG_4956.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.Nav {
  display: flex;
  background-color: #C3C9DE;
  opacity: 0.5;
  width: 100vw;
  height: 10vh;
  position: sticky;
  top: 0;
  color: burlywood;
  font-size: 35px;
  text-align: center justify;
}

.Landing {
  display: flex;
  color: burlywood;
  font-size: 35px;
  text-align: center justify;
  text-shadow: 3px 2px black;

}

.Projects {
  /* display: flex; */
  /* background-color: #C3C9DE; */
  /* background-image: url("/IMG_4800.jpg");
  background-size: cover; */
  /* opacity: 0.85;
  text-align: center;
  height: 100vh;
  width: 100vw;
  justify-content: center; */

  display: flex;
  height: 100vh;
  width: 100vw;
  /* opacity: 0.5; but why*/
  /* padding: 50px; */
  /* margin: 20px; */
  align-self: center;
  justify-content: center;
  background-color: darkblue;

}

.Projects-text {
  /* display: flex;
  background-color: burlywood;
  opacity: 0.5;
  height: 75vh;
  width: 80vw; */

  /* border: 15px solid white; */

  /* padding: 50px;
  margin: 20px;
  align-self: center;
  text-decoration: none;
  justify-content: center; */

  display: flex;
  height: 75vh;
  width: 80vw;
  padding: 50px;
  margin: 20px;
  align-self: center;
  justify-content: center;
  color: white;
  background-color: pink;
}

.About {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: burlywood;
  justify-content: center;


}

.About-cont{
  display: flex;
  height: 75vh;
  width: 80vw;
  padding: 50px;
  margin: 20px;
  align-self: center;
  justify-content: center;
  background-color: darkblue;
  opacity: 0.5;
}

.Footer {
  display: flex;
  height: 20vh;
  width: 100%;
  background-color: #C3C9DE;

}
/* .App-logo {
  height: 40vmin;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
